.explorer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 3rem;
}

.explorer-restaurants {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 50%;
  gap: 10px;
}

.explor-img {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.explorer-title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 1.5rem;
}

.explorer-images > p {
  background-color: #ffc300;
  border-radius: 10px;
  padding: 5px 5px;
  margin-top: -8px;
  font-weight: 600;
}

.explorer-images {
  text-align: center;
  margin-bottom: 1.5em;
}

.delivery-img {
  width: 13rem;
  height: 9rem;
}

.explorer-delivery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.delivery-card {
  width: 250px;
  text-align: center;
}

.delivery-card > h4 {
  margin-bottom: 10px;
  background-color: #ffc300;
  border-radius: 10px;
}

.delivery-card > p {
  font-weight: 300;
  letter-spacing: 0.4px;
}

.explorer-button {
  background-color: #001d3d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .explorer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .explorer-delivery {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .explorer-delivery {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .explorer-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.5rem;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}
